@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

@font-face {
  font-family: 'iconfont';  /* project id 1737881 */
  src: url('./fonticon/iconfont.eot?t=1587603432237');
  src: url('./fonticon/iconfont.eot?t=1587603432237#iefix') format('embedded-opentype'),
  url('./fonticon/iconfont.woff2?t=1587603432237') format('woff2'),
  url('./fonticon/iconfont.woff?t=1587603432237') format('woff'),
  url('./fonticon/iconfont.ttf?t=1587603432237') format('truetype'),
  url('./fonticon/iconfont.svg?t=1587603432237') format('svg');
}

.iconfont{
	font-family:"iconfont" !important;
  font-size:1rem;
  font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.pageSwitch-enter-active, .pageSwitch-leave-active {
  transition: .5s all ease;
}
.pageSwitch-leave-active,.pageSwitch-enter{
  transform:translateX(200px);
  opacity: 0;
}
